<?xml version="1.0" encoding="UTF-8"?>

<suite parallel="tests" name="Suite" thread-count="2">
<test name="FacebookText">

  
    <classes>
      <class name="com.TestNg.FacebookMain"/>
    </classes>
  </test> <!-- Test -->
  <test name="ohrmText">

  
    <classes>
      <class name="com.TestNg.OHRMMain"/>
    </classes>
  </test> <!-- Test -->
  
  
  
  
  
  
</suite> <!-- Suite -->
